extends layout

append styles
  link(rel="stylesheet", href="/stylesheets/admin.css")

append scripts
  script(src="/js/admin.js")

block content
  button(id="poweroff") Power Off
  button(id="alarm") Alarm
  button(id="reset") Reset
