doctype 5
html
  head
    title= title
    block scripts
      script(src="/socket.io/socket.io.js")
    block styles
      link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content